Homework1/bin
Homework1/Homework1.csproj
Homework1/obj
Homework2/bin
Homework2/obj
Homework2/Homework2.csproj
Homework3/Homework3.csproj
Homework3/obj
Homework3/bin
Homework4/Homework4.csproj
Homework4/obj
Homework4/bin